* {
box-sizing: border-box;
}

body {
    font-family: 'Squada One', cursive, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-image: url(../images/space.png);
    background-color: black;
}

header {

    padding-top: 20px;
}

.container {
    margin: auto;
    padding: 40px;
    text-align: center;
    width: 800px;
}

h1 {
    text-align: center;
}

#timerDiv {
    text-align: center;
    height: 60px;
}

#questionDiv {
    margin-top: 30px;
    margin-bottom: 30px;
}

#answersDiv {
    margin-top: 10px;
    margin-bottom: 20px;
}

img {
    max-height: 380px;
}

.btn {
    color: white;
    font-size: 20px;
}


